<div >
  <div style="margin-top:20px;" class="row">
		<div class="col-8"><h2 style="font-weight: bold;">Jugadores</h2></div>
		<div class="col-4 text-right"><button class="btn btn-info" [routerLink]="['/nuevoJugador',idEquipo,'new']" style="margin-top: 5px;" data-toggle="tooltip" data-placement="top" title="Nuevo Jugador"><i class="material-icons">person_add</i></button></div>
	</div> 
	<hr> 
<div class="row">
  <div class="col-md-4" *ngFor="let jugador of jugadores" >
       <app-jugador [jugador]="jugador"></app-jugador>
  </div>
</div>
</div>


