<div style="margin-top:20px;">
	<div class="row">
		<div class="col-6"><h2 style="font-weight: bold;">{{torneo.nombre|titlecase}}</h2></div>
		<div class="col-4">
			 <input type="date" id="fecha" class="date-picker" name="fecha" min="2019-01-01" [(ngModel)]="fecha">
		</div>
		<div class="col-2 text-right"><button class="btn btn-info" style="margin-top: 5px;" [routerLink]="['/nuevoPartido',idTorneo,'new']" data-toggle="tooltip" data-placement="top" title="Nuevo Partido"><i class="material-icons">playlist_add</i></button>
	</div> 
	</div>
	<hr>
	<div class="row">
		 <div class="col-md-4" *ngFor="let partido of partidos" >
		 </div>
	</div>
</div>