
<div class="card">
                <div class="card-body">
                    <div class="user-image text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-10 m-b-10 text-center">{{jugador.nombre}} {{jugador.apellido}}</h6>
                    <p class="text-muted text-center"> <i class="material-icons badge">today</i>{{jugador.fecha_nacimiento}} |  <i class="material-icons badge">call</i> {{jugador.telefono}}</p>
                   <hr>
                    <div class="text-muted">
                    	<p class="m-t-15" style="font-weight: bold;"><i class="material-icons badge">assignment_ind</i>Ficha Técnica</p>
                    	<p>Número: {{jugador.numero}}</p>
                    	<p>Posición: {{jugador.posicion}}</p>
                    </div>
                    <div class="bg-c-blue m-t-10 p-15" id="content-data">
                        <div class="row">
                            <div class="col-4">                             
                                <p>{{jugador.goles}}</p>
                                <p class="font-08">Goles</p>
                            </div>
                            <div class="col-4">                            
                                <p>{{jugador.tarjetas.amarillas}}</p>
                                <p class="font-08">Tarjetas Amarillas</p>
                            </div>
                            <div class="col-4">
                                <p>{{jugador.tarjetas.rojas}}</p>
                                <p class="font-08">Tarjetas Amarillas</p>
                            </div>
                        </div>
                    </div>
                </div>
 </div>
        